h1 {
    color: #FFFFFF;
    text-align: center;
}

body {
    background-color: #A1DBDF;
}

.header {
    background-color: #0ABAB5;
    border: #FFFFFF 2px solid;
    margin: 0 0 10px 0;
}

.boxes {
    margin: auto;
}

.box {
    border: #FFFFFF 2px solid;
    height: 250px;
    width: 350px;
    margin: 0px 10px 0px 0px;
    text-align: center;
}

form {
    margin: 0 0 10px 0;
}

.chatrows {
    margin: auto;
}

.chatbox {
    background-color: #FFFFFF; 
    margin: 20px 0px 10px 0px;
    height: 250px;
    width: 100%;
    text-align: left;
    overflow: scroll;
}

.playerTurn {
    border: goldenrod 2px solid;
}

.chatColorDisconnect {
    color: #DE4B1D;
}

.chatColorConnect {
    color: #47C74F;
}

.chatColor1 {
    color: #56D8E8;
}

.chatColor2 {
    color: #C182D3;
}

.helloName {
    text-align: left;
    font-style: italic;
    font-size: 16px;
}